.form {
  padding-top: 2rem;
  position: absolute;
  background-color: white;
  border-top-color: #1466c5;
  height: 35rem;
  width: 25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 8px 10px #888888;
  color: black;
  gap: 10px;
  font-size: 1.2rem;
  right: 10%;
  top: 15%;
}

.form span {
  color: #1466c5;
}

.form span:hover {
  cursor: pointer;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  border: none;
  width: 100%;
  border-bottom: #888888 2px solid;
  font-size: 1.2rem;
}

.form input:focus {
  outline: none;
  border-bottom: #1466c5 3px solid;
}

.form label {
  text-align: center;
}

.form button {
  margin-top: 10px;
  background-color: #1466c5;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
}

.name {
  font-size: 2.5rem;
}
.title {
  font-size: 1.5rem;
}

.form a {
  margin-top: 10px;
  background-color: #1466c5;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
}

.avatar {
  position: relative;
  margin-top: 10px;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  border: #1466c5 2px solid;
  overflow: hidden;
}

.avatarContent {
  position: absolute;
  color: white;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -10%;
  background-color: #1466c5;
}

.terms {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.first {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
