.menu {
  position: absolute;
  padding: 1.2rem 1.2rem;
  top: 80%;
  right: -35%;
  z-index: 1;
  list-style-type: none;

  background-color: rgb(44, 137, 199);
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.menu li {
  display: flex;
  gap: 1rem;
  color: white;
}

.menu li:hover,
button:hover {
  color: white;
  cursor: pointer;
}

button {
  border: none;
  font-size: 1.2rem;
  background-color: rgb(44, 137, 199);
  font-weight: bold;
}
