.product {
    height: 30rem;
    width: 33%;
    border: 5px #ccc solid;
    border-radius: 15px;
    padding: 5px;
}

.imgContainer {
    height: 60%;
}

.image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.lineBreak {
    height: 3px;
    width: 90%;
    background-color: #ccc;
    margin: 1rem auto;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(146, 146, 146);
}

.description {
    font-size: 1.5rem;
    padding: 5px 15px;
}